<h1>{{title}}</h1>
<p>Fill out the form to add a message!</p>
<form method="POST" action="/new">
  <label for="author">Enter name: </label>
  <input id="author" type="text" name="user" placeholder="Mark Twain">
  <br/>
  <label for="msg">Enter Message: </label>
  <input id="msg" type="text" name="text" placeholder="What a cool site!">
  <br/>
  <input type="submit" value="Post">
</form>
